.task-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid rgb(232, 230, 230);
    position: relative;
    padding: 1rem;
}
.task-container p{
    max-width: 70ch;
}
.delete, .edit{
    padding: 0.1rem;
    border-radius: 6px;
}
.delete:hover, .edit:hover{
    cursor: pointer;
    background-color: #e3e1e1;

}


.drag{
    cursor: grab;
    position: absolute;
    top:0;
    left:-0.2rem;
    
}
.invisible{
    visibility:hidden;
}
.invisible:hover, .invisible:active{
    visibility: hidden;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.row-gap{
    gap:0.4rem;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.align-baseline{
    align-items: baseline;
}
.justify-baseline{
    justify-content: baseline;
}
.justify-end{
    justify-content: end;
}
.space-between{
    justify-content: space-between;
}
.p1{
    color: var(--p1-color);
    background-color: var(--p1-back);
 
}
.p2{
    color: var(--p2-color);
    background-color: var(--p2-back);

}
.p3{
    color: var(--p3-color);
    background-color: var(--p3-back);
}
.p4{
    color: var(--p4-color);
    background-color: var(--p4-back);

}
.circle-container{
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 100%;
}
.checked-circle{
    color: white;
    padding: 0.2rem;
    
}
.circle-container:hover{
    cursor: pointer;
}
.project-header{
    padding: 0.3rem;
}
.chevron-right{
    padding: 0.1rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left:-2rem;
}
.chevron-down{
    padding: 0.1rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left:-2rem;
}
.chevron-right:hover, .chevron-down:hover{
    border-radius: 10px;
    background-color: #efe7e7;

}
.todo-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #666;
}
.todo-body{
    display: grid;
    grid-template-columns: repeat(1fr);

}
.todo-body-item{
    grid-row: 1 / 2;

}
.todo-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.collapsed{
    display: none;
}

.add-btn-lst{
    width: 100%;
    height: 1.5rem;
    display: flex;
    cursor: pointer;
    border: none;
    align-items: center;
    gap: 0.5rem;
    justify-content: baseline;
    background-color: white;
    border-radius: 3px;
}
.add-btn-lst:hover{
    background-color: #e5e2e2;
}
.dark-orange-back{
    background-color: var(--dark-orange);
}
.dark-orange-color{
    color: var(--dark-orange);
}



.hidden{
    display: none;
}

.add-task{
    width: 35rem;
    padding: 1.5rem;
    border: 1px solid #f4f1f1;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gray-border-bottom{
    border-bottom: 1px solid rgb(232, 230, 230) ;
}
.rel-pos{
    position: relative;
}
.modal{
    z-index: 2;
    position: absolute;
}
.crossed{
    text-decoration: line-through;
    
}
.date-btn{
    min-width: 4rem;
    

}
.priority-btn{
    min-width: 6rem;
    
}
.date-btn, select{
    background-color: white;
    color: var(--p4-color);
    border: 1px solid var(--p4-color);
    border-radius: 6px;
}
.date-btn:hover, select:hover{
    background-color: #f2eeee;
    cursor: pointer;
}
select,
::picker(select) {
  appearance: base-select;
}
select{
    padding: 0.1rem 0.1rem 0.1rem 0.6rem;
}

select::picker-icon {
  color: #999999;
  transition: 0.4s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}
::picker(select){
    border: 1px solid rgb(232, 227, 227);
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: absolute;
}
.destination-select{
    border: none;
}

.cancel-btn, .submit-task{
    min-width: 6rem;
    min-height: 2rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.cancel-btn:hover, .submit-task:hover{
    filter: brightness(95%);
}
.submit-task{
    background-color: var(--dark-orange);
    color: white;
    
}
.cancel-btn{
    color: #666;
}
.pd-bot-05rem{
    padding-bottom: 0.5rem;
}
.pd-bot-1rem{
    padding-bottom: 1rem;
}
.pd-top-05rem{
    padding-top:0.5rem;
}
.pd-top-1rem{
    padding-top: 1rem;
}
.pd-1rem{
    padding: 1rem;
}

.task-title{
    border:none;
    font-weight: 500;
    font-size: 1.4rem;
}
.task-title:focus, .task-description:focus{
    outline:none;
    background-color: none;
}
.task-description{
    border: none;
}
.task-attr button, .task-attr select{
    border: 1px solid #ebe6e6;
    
}
/*
Source - https://stackoverflow.com/a/14205976
Posted by Fareed Alnamrouti, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-30, License - CC BY-SA 4.0
*/

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

#close-project-modal{
    cursor: pointer;
}
.add-section-h3{
    position: relative;
    text-align: center;
    color: var(--dark-orange);
    font-weight: 600;
    visibility: hidden;
}

.add-section-h3::before{
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 40%;
    background-color: var(--dark-orange);
    right: 0;
    z-index: 4;
    


}
.add-section-h3::after{
    content: "";
    position: absolute;
    top: 50%;
    background-color: var(--dark-orange);
    height: 1px;
    width: 40%;
    left: 0;
    z-index: 4;

    

}

.add-section-span{
    background-color: white;
    font-size: 0.9rem;
    z-index: 5;
    

}

.add-section-container:hover h3, .add-section-container:active h3{
    visibility: visible;
    cursor: pointer;
}
.section-input{
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #dadada;
    border-radius: 6px;
    color: black;
    font-weight: 700;
    font-size: 1rem;
}
.section-input:focus{
    border: 1px solid #b7b4b4;
    outline: none;
}

.section-input::placeholder{
    font-weight: 700;
    color: #9b9a9a;
}
