.task-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid rgb(232, 230, 230);
    position: relative;
    padding: 1rem;
}
.task-container p{
    max-width: 70ch;
}

.drag{
    cursor: grab;
    position: absolute;
    top:0;
    left:-0.2rem;
    
}
.hidden{
    visibility:hidden;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.row-gap{
    gap:0.4rem;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.align-baseline{
    align-items: baseline;
}
.justify-baseline{
    justify-content: baseline;
}
.space-between{
    justify-content: space-between;
}
.p1{
    color: var(--p1-color);
    background-color: var(--p1-back);
 
}
.p2{
    color: var(--p2-color);
    background-color: var(--p2-back);

}
.p3{
    color: var(--p3-color);
    background-color: var(--p3-back);
}
.p4{
    color: var(--p4-color);
    background-color: var(--p4-back);

}
.circle-container{
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 100%;
}
.checked-circle{
    color: white;
    padding: 0.2rem;
    
}
.circle-container:hover{
    cursor: pointer;
}
.project-header{
    padding: 0.3rem;
}
.chevron-right{
    padding: 0.1rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left:-2rem;
}
.chevron-down{
    padding: 0.1rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left:-2rem;
}
.chevron-right:hover, .chevron-down:hover{
    border-radius: 10px;
    background-color: #efe7e7;

}
.todo-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #666;
}
.todo-body{
    display: grid;
    grid-template-columns: repeat(1fr);

}
.todo-body-item{
    grid-row: 1 / 2;

}
.todo-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.collapsed{
    display: none;
}

.add-btn-lst{
    width: 100%;
    height: 1.5rem;
    display: flex;
    cursor: pointer;
    border: none;
    align-items: center;
    gap: 0.5rem;
    justify-content: baseline;
    background-color: white;
    border-radius: 3px;
}
.add-btn-lst:hover{
    background-color: #e5e2e2;
}
.dark-orange-back{
    background-color: var(--dark-orange);
}
.dark-orange-color{
    color: var(--dark-orange);
}



.hidden{
    display: none;
}

.add-task{
    display: flex;
    flex-direction: column;
}

.gray-border-bottom{
    border-bottom: 1px solid rgb(232, 230, 230) ;
}
.rel-pos{
    position: relative;
}
.modal{
    z-index: 2;
    position: absolute;
}
.crossed{
    text-decoration: line-through;
    
}



