*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui, "Segoe UI", sans-serif;

}
:root{
    --p1-color: #d1453b;
    --p2-color: #eb8909;
    --p3-color: #246fe0;
    --p4-color: #666;

    --p1-back: #f0bab6;
    --p2-back: #ebc797;
    --p3-back: #bad0f1;
    --p4-back: #efeded;

    --dark-orange: #d33322;
    --light-orange: #ffefe5;


}

body{
    display: flex;
    width: 100%;
    height: 100%;
    
}
nav{
    height: 100vh;
    flex-basis: 20%;
    background-color: #fcfaf8;
    border-right: 1px solid black;
    padding: 1.5rem;
}
main{
    height: 100vh;
    padding: 1.5rem;
    background-color: white;
    flex-basis: 80%;
}
.nav-item{
    display: flex;
    gap: 0.25rem;
    justify-content: baseline;
    font-size: 1.1rem;
    align-items: center;
}
.nav-item span{
    color: gray;
}
#completed{
    color: white;
}

#projects{
    padding-top: 2rem;
    color: rgb(109, 108, 108);
}
#projects>div{
    padding-left: 0.6rem;
}
#main-header{
    display: flex;
    justify-content: space-between;

}
#main-header-options{
    display:flex;
    gap:1.3rem;
}
#main-header-options div{
    display: flex;
    justify-content: end;
    gap: 0.2rem;
    align-items: center;
}

#main-body{
    margin: 2rem 7rem 2rem 7rem;

    height: 70vh;
    overflow: visible;
}
.active-tab{
    background-color: #ffefe5;
    color: #a81f00;
}
