*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui, "Segoe UI", sans-serif;

}
:root{
    --p1-color: #d1453b;
    --p2-color: #eb8909;
    --p3-color: #246fe0;
    --p4-color: #666;

    --p1-back: #f0bab6;
    --p2-back: #ebc797;
    --p3-back: #bad0f1;
    --p4-back: #efeded;

    --dark-orange: #d33322;
    --light-orange: #ffefe5;


}

body{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fbf6f3;
    
}
nav{
    height: 100vh;
    flex-basis: 20%;
    background-color: #f5f2ef;
    padding: 1.5rem;
    border-radius: 12px;
    margin-left: 2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
}
main{
    height: 100vh;
    padding: 1.5rem;
    background-color: white;
    flex-basis: 80%;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
main,nav{
    margin:2em;
}
#main-header-options div{
    cursor: pointer;
    padding: 0.3rem;
}
#main-header-options div:hover{
    background-color: #dadada;
    border-radius: 6px;
}
.nav-item{
    display: flex;
    gap: 0.25rem;
    justify-content: baseline;
    font-size: 1.1rem;
    align-items: center;
    border-radius: 6px;
    padding: 0.3rem;
}
.nav-item:hover{
    background-color: #dadada;
    cursor: pointer;
}
.nav-item:active{
    background-color: var(--light-orange);
    color: var(--dark-orange);
}
.nav-item span{
    color: gray;
}
#completed{
    color: white;
}

#projects{
    padding-top: 2rem;
    color: rgb(109, 108, 108);
}
#projects>div{
    padding-left: 0.6rem;
}
#main-header{
    display: flex;
    justify-content: space-between;

}
#main-header-options{
    display:flex;
    gap:1.3rem;
}
#main-header-options div{
    display: flex;
    justify-content: end;
    gap: 0.2rem;
    align-items: center;
}

#main-body{
    margin: 2rem 7rem 2rem 7rem;

    height: auto;
    
}
#add-navbar{
    color: var(--dark-orange);
    font-weight: 500;
}
#add-nav-icon{
    color: white;
    border: none;
    border-radius: 100%;
    background-color: var(--dark-orange);
}
.active-tab{
    background-color: #ffefe5;
    color: #a81f00;
}

#project-title-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-project:hover{
    cursor: pointer;
}

dialog{
    position: absolute;
    top:40%;
    left: 25%;
    
    
}
dialog form{
    gap:2rem;
}
